@import "bootstrap-sass/lib/bootstrap";

body {
    background: #fafafa;
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

// My CSS

$small-font: small;
@mixin less-important {
    color: grey;
    font-size: $small-font;
}
@mixin unstyle-ul {
    list-style-type: none;
    margin-left: 0;
}

.acs-hero {
    padding-top: 20px;
    padding-bottom: 20px;
}

.posts {
    margin-top: 30px;
}

.posts,
.post .comments {
    @include unstyle-ul;
}

.post {
    .from {
        font-weight: bold;
    }
    .link {
        margin-bottom: 10px;
        padding: 10px;
    }
    .link .caption,
    .link .description,
    .last,
    .last a, {
        @include less-important;
    }
    .link a:hover,
    .link a:focus {
        color: auto;
        text-decoration: none;
    }
    .comments {
        font-size: $small-font;
        hr {
            margin: 5px 0;
        }
    }
    .link,
    .last,
    .comments {
        margin-top: 4px;
    }
    .entry {
        overflow: hidden; // trigger BFC
    }
    .fromimg,
    .link img {
        float: left;
        margin-right: 10px;
    }
}
