<div class="running">
<h2>About</h2>
<p>
This site is a read-only mirror of the <a ng-href="{{group.link}}" target="_blank">{{group.name}} Facebook page</a>.<br/>
This page is mainly aimed at those without a Facebook account.<br/>
Posting is only possible <a ng-href="{{group.link}}" target="_blank">in the Facebook group</a>.
</p>

<h2>Contribute</h2>
<p>
This page's source code is <a href="https://github.com/thpani/acs-mirror" target="_blank">available from GitHub</a> under the MIT license.<br/>
Please send fixes etc. to <a href="http://forsyte.at/people/pani/" target="_blank">Thomas Pani</a>.
</p>

<h2>Offenlegung (§25 MedienG)</h2>
<p>
Inhaber der Website ist das Institut für Informationssysteme an der Technischen Universität Wien, 1040 Wien.<br>Die TU Wien distanziert sich von den Inhalten aller extern gelinkten Seiten und übernimmt diesbezüglich keine Haftung. – <a href="http://www.tuwien.ac.at/impressum/disclaimer/">Disclaimer</a>.
</p>
</div>
