<div ng-include="'views/header.html'"></div>
<div class="bs-callout bs-callout-info">
    <h4>Calendar feed</h4>
    <p>To subscribe: <a href="http://wallflux.com/events/552255311482154">right-click this link</a>, copy link address, and paste it into your favourite calendar application.</p>
</div>
<div us-spinner ng-hide="events.data"></div>
<ul class="events">
    <hr/>
    <li ng-repeat="event in events.data" class="post">
        <div class="entry">
            <div>{{event.start_time | date:'fullDate'}} {{event.start_time | date:'shortTime'}}</div>
            <div class="from">{{event.name}}</div>
            <div>{{event.location}}</div>
        </div>
        <hr/>
    </li>
</ul>
<div ng-include="'views/footer.html'"></div>
