<div class="hero-unit acs-hero">
    <h1>{{group.name}}</h1>
    <p><img ng-src="{{group.icon}}" /> {{group.description}}</p>
</div>
<p>&nbsp;</p>
<div class="alert alert-info">
    <strong>Heads up!</strong> This is a read-only mirror of the <a ng-href="{{group.link}}" target="_blank">{{group.name}} Facebook page</a>. Posting is only possible from <a ng-href="{{group.link}}">there</a>.
</div>
<ul class="posts">
    <li ng-repeat="post in feed.data" class="post">
        <div class="fromimg" ng-init="user=getUser(post.from.id)">
            <img ng-src="{{user.picture.data.url}}" />
        </div>
        <div class="entry">
            <div class="from">{{post.from.name}}</div>
            <div class="message" ng-bind-html="post.message | linky"></div>
            <div class="link clearfix well" ng-show="post.name">
                <img ng-src="{{post.picture}}" ng-show="post.picture"/>
                <a ng-href="{{post.link}}" target="_blank" />
                    <div class="name">{{post.name}}</div>
                    <div class="caption">{{post.caption}}</div>
                    <div class="description">{{post.description}}</div>
                </a>
            </div>
            <div class="last">
                <img ng-src="{{post.icon}}" ng-show="post.icon" />
                <a ng-href="//facebook.com/{{post.id}}" target="_blank">
                    <span>{{post.created_time | date:'medium'}}</span>
                    <span ng-show="post.likes.data.length"> &middot; {{post.likes.data.length}} likes</span>
                </a>
                <span ng-show="post.comments.data.length"> &middot; <a href="" ng-click="post.comments.show = !post.comments.show">{{post.comments.data.length}} comments</a></span>
            </div>
            <ul class="comments well" ng-show="post.comments.data.length && post.comments.show">
                <li ng-repeat="comment in post.comments.data">
                <div><strong>{{comment.from.name}}</strong> <span ng-bind-html="comment.message | linky"/></div>
                <div class="last">
                    {{comment.created_time | date:'medium'}}
                    <span ng-show="comment.like_count">&middot; {{comment.like_count}} likes</span>
                </div>
                <hr ng-hide="$last"/>
                </li>
            </ul>
        </div>
        <hr/>
    </li>
</ul>
<p>&nbsp;</p>
<div class="alert alert-info">
    <strong>That's all?</strong> Facebook's API is paginated. At the moment, we only pull the latest posts from Facebook.
</div>
